<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=book.title%></h1>
    <div>
        <p><img src="<%=book.img%>" alt=""></p>
        <p>This book costs <%=book.price %>$</p>
        <br/>
        <p>There are <%=book.qty %> copies of this book left</p>
    </div>
    <nav>
        <a href="/books">Back to Book Easy Main Page</a>
    </nav>
</body>
</html>