div{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    border: solid black 1px;
}

img{
    max-width: 200px;
}

h1{
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: center;
}

button{
    background-color: antiquewhite;
    font-size: large;
}

body{
    border: 10px solid rgb(91, 41, 41);
    padding: 35px;
    background: beige;
    background-clip: content-box;
}

h1{
    display: flex;
    justify-content: center;
}


img{
    max-width: 160px;
}

a{
    display: flex;
    justify-content: center;
      color: rgb(196, 148, 67);
      text-decoration: none;
      font-size: 1.5em;
      text-shadow: black 2px 1px 1px;
    }
    
a:hover {
      color: ghostwhite;
    }
    .delete{
        display: flex;
        justify-content: center;
          color: rgb(196, 148, 67);
          text-decoration: none;
          font-size: 2.3em;
          text-shadow: black 2px 1px 1px;
          background-color: antiquewhite;
          margin: 5px;
    }
    
    .delete:hover{
        color:antiquewhite
    }
    .submit{
        display: flex;
        justify-content: center;
          color: rgb(196, 148, 67);
          text-decoration: none;
          font-size: 2.3em;
          text-shadow: black 2px 1px 1px;
          background-color: antiquewhite;
          margin: 5px;
    }
    
    .submit:hover{
        color:antiquewhite
    }
    input{
        display: flex;
        justify-content: center;
          color: rgb(196, 148, 67);
          text-decoration: none;
          font-size: 2.3em;
          text-shadow: black 2px 1px 1px;
          background-color: whitesmoke;
          margin: 5px;
    }
    
    input:hover{
        color:antiquewhite
    }
    p{
        font-size: 30px;
    }