div{
    display: flex;
    justify-content: center;
    border: solid 1px black;
    background-color: antiquewhite;
}

img{
    max-width: 200px;
    display: flex;
    margin: auto;
}


    h1{
        display: flex;
        justify-content: center;
        font-family: "Sofia", sans-serif;
        font-size: 45px;
        text-shadow: black 1px 1px 1px;
        color: rgb(196, 148, 67);
    }


nav{
    display: flex;
    justify-content: center;
}

button{
    background-color: antiquewhite;
    color: rgb(196, 148, 67);
    text-shadow: black 2px 1px 1px;
    font-size: 25px;
    margin: 5px;
}
body{
    border: 10px solid rgb(91, 41, 41);
    padding: 35px;
    background: beige;
    background-clip: content-box;
}

article{
    flex: 1;
    border: solid black 10px;
    background-color: bisque;
}

a{
    display: flex;
    justify-content: center;
      color: rgb(196, 148, 67);
      text-decoration: none;
      font-size: 1.5em;
      text-shadow: black 2px 1px 1px;
    }
    
a:hover {
      color: ghostwhite;
    }

input{
    display: flex;
    justify-content: center;
      color: rgb(196, 148, 67);
      text-decoration: none;
      font-size: 2.3em;
      text-shadow: black 2px 1px 1px;
      background-color: antiquewhite;
}

input:hover{
    color:antiquewhite
}

form{
    margin: 5px;
    /* display: flex;
    align-items: center;
    margin: 10px;
    font-size: 1.5em; */
}

P{
    font-family: 'Macondo', cursive;
    font-size: 1.3em;
}
